config SHIELD_LA_USURPADORA_LEFT
    def_bool $(shields_list_contains,la_usurpadora_left)

config SHIELD_LA_USURPADORA_RIGHT
    def_bool $(shields_list_contains,la_usurpadora_right)

config SHIELD_LA_USURPADORA_DONGLE
    def_bool $(shields_list_contains,la_usurpadora_dongle)
