if SHIELD_LA_USURPADORA_LEFT

config ZMK_KEYBOARD_NAME
    default "A Usurpadora"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_LA_USURPADORA_LEFT

if SHIELD_LA_USURPADORA_LEFT || SHIELD_LA_USURPADORA_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_LA_USURPADORA_LEFT || SHIELD_LA_USURPADORA_RIGHT
