#include <physical_layouts.dtsi>

/ {
    default_layout: physical-layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
    };
};
